/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

/* Seleziona sia header, che tutti i  div con classe main-content  */
main header, 
div.main-content{
    padding: 1.5rem 5rem;
}

h1{
    font-size: 3.5rem;
}

main{
    /* #f6f8f9 */
    padding: 3rem 0;
    background-color: #f6f8f9;
}

button{
    padding: .36rem .72rem;
    border: solid transparent 1px;
    border-radius: .33rem;
    margin-right: .25rem;
    font-size: .8rem;
}


ul{
    color: #484c55;
    list-style-type: none;
    margin-bottom: 2rem;
}

li{
    margin-bottom: 1rem;
}

.light-button{
    border: #b9b9b9 solid 1px;
    background-color: white;
    color: #b1b1b1;
}

.display-inline-block{
    display: inline-block;
}

.v-align-middle{
    vertical-align: middle;
}

.font-white{
    color: white;
}

.bg-blue{
    background-color: #45abea;
}

.bg-purple{
    background-color: #9c72e4;
}

.bg-pink{
    background-color: #d863a1;
}

.bg-green{
    background-color: #64c0a9;
}

.bg-orange{
    background-color: #f29e33;
}

.bg-light-green{
    background-color: #b0c926;
}

.border-bottom-grey{
    border-bottom: #f6f8f9 2px solid;
}

.todo-list-title{
    margin-bottom: .75rem;
}

li.todo-list-section li.done:before{
    content: '\2714';
    border: 1px solid transparent;
    height: 1.05rem;
    width: 1.05rem;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    font-size: .7rem;
    color: green;
    border-color: green;
}

li.todo-list-section li.undone:before{
    content: '\2716';
    color: red;
    border: 1px solid red;
    height: 1.05rem;
    width: 1.05rem;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    font-size: .7rem;
}

.tag{
    color: white;
    padding: .3rem .6rem;
    border-radius: .5rem;
    font-size: .65rem;
}

img#main-logo{
    height: 70px;
}

#todo-list{
    background-color: white;
    width: 65%;
    margin: 0 auto;
    border-radius: .5rem;
}

li.todo-list-section{
    border: #ff00ff 2px solid;
}

/* TODO Seleziona tutti i div che hanno come classe sia main-content che todo-list-padding */
div.main-content.todo-list-padding{
    background-color: rgb(225, 225, 255);
}

/* * Seleziono tutti i <li> figli diretti di un <ul> */
ul>li{
    background-color: rgb(239, 255, 214);
}

/* * Seleziona tutti i li che abbiano attributo tipo-di-pasta */
li[tipo-di-pasta]{
    background-color: rgb(255, 238, 207);
}

/* ! Seleziona tutti i li che abbiano attributo tipo-di-pasta uguale a "spaghetti" */
li[tipo-di-pasta="spaghetti"]{
    background-color: rgb(255, 255, 184);
}

li li:hover{
    background-color: #45abea;
}

button:active{
    background-color: #45ea8f;
    font-weight: bold;
}